<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title><%= title %></title>
  </head>
  <body class="bg-gray-50">
    <nav class="p-6" style="background-color: rgb(94, 92, 92); text-align: center;">
      <div class="container flex flex-wrap items-center justify-between mx-auto ">
        <a href="/" class="flex items-center ">
          <span class="self-center text-xl font-semibold whitespace-nowrap text-white ">Digital-Voting-Application</span>
        </a>
      </div>
    </nav>
    <div class="grid grid-cols-7">
      <div class="col-start-3 col-span-3">
        <p class="py-1 mb-6 text-4xl">Welcome to Online Voting</p>
        <div id="form-wrapper">
          <p class="py-1 text-xl">
            New here? <a class="text-green-600" href="/signup"><b><u>Sign Up</u></b></a>
          </p>
          <p class="py-1 text-xl">Already have an account?
            <a class="text-green-600" href="/login"><b><u>Sign In</u></b></a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>